{% extends 'base.html' %}

{% block contenido %}
<div class="main-content" style="padding: 5px;">
    <div class="form-container" style="margin: 80px auto; border: 1px solid #ccc; border-radius: 8px; width: 80%; max-width: 600px;">
        <h3>CARGA DE NUEVA PLANTA</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="{{ formulario.nombre.id_for_label }}">Nombre:</label>
            {{ formulario.nombre }}

            <label for="{{ formulario.tipo.id_for_label }}">Tipo:</label>
            {{ formulario.tipo }}

            <label for="{{ formulario.descripcion.id_for_label }}">Descripción:</label>
            {{ formulario.descripcion }}

            <label for="{{ formulario.contenido_thc.id_for_label }}">Contenido THC:</label>
            {{ formulario.contenido_thc }}

            <label for="{{ formulario.contenido_cbd.id_for_label }}">Contenido CBD:</label>
            {{ formulario.contenido_cbd }}

            <div class="checkbox-group">
                {{ formulario.autofloreciente }}
                <label for="{{ formulario.autofloreciente.id_for_label }}">Autofloreciente</label>
            </div>

            <div class="checkbox-group">
                {{ formulario.fotoperiodica }}
                <label for="{{ formulario.fotoperiodica.id_for_label }}">Fotoperiódica</label>
            </div>

            <label for="{{ formulario.foto.id_for_label }}">Foto:</label>
            {{ formulario.foto }}
            
            <div style='padding: 20px;'>
                <button type="submit" class="btn btn-success">Cargar</button>
            </div>
        </form>
    </div>
</div>

{% endblock contenido %}
