{% extends 'base.html' %}

{% block contenido %}

<div class="card text-center">
    <div class="card-header">
    <H3>Plataforma para gestión de plantas de cannabis</H3>
    </div>
    <div class="bg-white p-4 rounded shadow-md text-center">
        <p class="text-black font-medium mb-4">Creada por Albano Bosquet para curso de Coderhouse - Programación Python</p>
        <div class="flex justify-center space-x-4">
            <a href="https://www.instagram.com/albano.bosquet/" style="font-size: 3rem; color: black; padding : 10px"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/albano-bosquet-979b50238/" style="font-size: 3rem; color: black; padding : 10px"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Albano-Bosquet" style="font-size: 3rem; color: black; padding : 10px"><i class="fab fa-github"></i></a>
        </div>
    </div>
    </div>
</div>

{% endblock contenido %}