/* estilos.css */

/* Estilo para el cuerpo */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Estilo de la barra de navegación */
.navbar {
    background-color: #5cb85c;
}

.navbar a.nav-link {
    color: white !important;
    font-size: 1.1rem;
}

.navbar a.nav-link:hover {
    color: #dff0d8 !important;
}

/* Estilo del título */
h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 30px;
}

/* Estilo del formulario */
form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Estilo para el contenedor de las plantas */
.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Esto asegura que las tarjetas se centren */
    gap: 20px; /* Margen uniforme entre tarjetas */
}

/* Estilo de las tarjetas */
.plant-card {
    width: 100px; /* El ancho fijo de cada tarjeta */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    background-color: #fff;
    text-align: center;
    height: 2000px;
}

/* Estilo de la imagen dentro de la tarjeta */
.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* Estilo de la tarjeta */
.card-body {
    padding: 15px;
}

/* Estilo de los elementos de la lista */
ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
}

ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

/* Mensaje cuando no hay plantas */
.no-plants {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

